/* Put shiny notifications front and center */
#shiny-notification-panel {
  top: 0;
  bottom: unset;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 450px;
}
