.irs-slider {
  box-shadow: none !important;
  border-radius: 0 27px 27px 0 !important;
  background: #FFFFFF !important;
}

.irs-bar {
  background: #B4B4B4 !important;
  border-color: #B4B4B4 !important;
}

.irs-bar-edge {
  background: #FAFAFA !important;
  border-color: #FAFAFA !important;
  width: 10px !important;
  border-radius: 0 !important;
}

.irs-single {
  background: #34689A !important;
}
