p>img:first-child:last-child {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
video {
  display: block;
  padding: 0;
  border: 1px solid #AAA;
  margin: 1em auto;
  width: 100%;
  box-sizing: border-box;
}
.nextstep {
  font-size: 1.25em;
  margin-top: 2em;
}
