$primary: #1a699e !default;
$secondary: white;
$body-color: #333 !default;

$font-family-sans-serif: "Open Sans", sans-serif;
$border-radius: 2px;

$input-btn-font-size: 12px;

$btn-font-weight: bold;
$btn-padding-y: 3px;
$btn-padding-x: 24px;
